# fastapi
# uvicorn[standard]
# ultralytics
# opencv-python-headless
# numpy
# python-multipart

fastapi
uvicorn[standard]
python-multipart
opencv-python-headless
numpy>=1.26.2
torch==2.10.0+cpu  # compatible with Python 3.11
ultralytics



